.header-row {
	margin: 0px auto;
	padding: 0 px 0px;
	min-height: 325px;
	border: 1px ridge;
}

.row-content {
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
    min-height:350px;
}

.carousel-caption {
	position:relative;
	align-content: center;
	right:auto;
	left:auto;
	margin-top:325px;
	margin-left:-50%;
	color:black;
}

.card-img-top {
	max-height:200px;
}